<h1>Login to Bookshelves!</h1>
<form method="post" action="/login">
  Username: <input type="text" name="username" placeholder="username" required><br>
  Password: <input type="password" name="password" placeholder="password" required>
  <br>
  <input type="submit" value="Submit">
</form>