<h1>Add a Book to Your Bookshelf</h1>

<form action="/books" method="POST">
    <label>Book Name</label>
    <input type="text" name="name"><br>

    <label>Book Author</label>
    <input type="text" name="author"><br>

    <label>Book Genre</label>
    <input type="text" name="genre"><br>

    <label>Your Rating</label>
    <input type="text" name="rating"><br>


    <input type="submit" value="Add">
</form>

